:root {
  --accent-color: rgba(33, 150, 243, 1);
  --main-text-color: rgba(33, 33, 33, 1);
  --sub-text-color: rgba(117, 117, 117, 1);
  --email-phone-color: rgba(255, 255, 255, 0.6);
  --bnt-bg--color: rgba(245, 244, 250, 1);
  --footer-header: rgba(47, 48, 58, 1);
  --body-hero-color: rgba(255, 255, 255, 1);
  --logo-main-color: rgba(0, 0, 0, 1);
}
body {
  background-color: var(--bnt-bg--color);
  color: var(--sub-text-color);
  font-family: Roboto, sans-serif;
  /* line-height: 1.71;
  font-size: 14px; */
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-text-color);
}
/* ul li {
  text-decoration: none;
  list-style: none;
} */
.titles-basic {
  text-align: center;
}
.logo {
  font-family: Raleway, sans-serif;
  color: var(--logo-main-color);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-start {
  color: var(--accent-color);
}
.header-nav-list,
.header-address {
  list-style: none;
}
.nav-links:focus,
.nav-links:hover {
  color: var(--accent-color);
}
.nav-links {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-links.active {
  color: var(--accent-color);
}
.nav-contacts {
  color: var(--sub-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}
.hero-section {
  background-color: var(--footer-header);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--body-hero-color);
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--body-hero-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.advantages-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
}
.footer {
  background-color: var(--footer-header);
}
.logo-end {
  color: var(--body-hero-color);
}
.address {
  color: var(--body-hero-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
